/* style container */
.app {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  background-color: rgb(231, 234, 236);
  /* font-family: "Poppins", sans-serif; */
  font-weight: 600;
  font-style: normal;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

/* header */
h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* counter integer display */
.display{
  font-size: 4rem;
  color: #4a90e2;
  margin: 50px 0;
  padding: 20px;
  border-radius: 10px;
  /* border: 2px solid #4a90e2; */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* all buttons styled */
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* buttons */
.btn {
  padding: 10px 20px;
  font-size: 1.5rem;
  /* color: #fff; */
  /* background-color: #4a90e2; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Increase {
  background-color: #4caf50;
  color: white;
}

.Reset {
  background-color: #2196f3;
  color: white;
}

.Decrease {
  background-color: #f44336;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}